.card__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.9px;
    color: #1D293F;
}
.card__price{
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: -0.9px;
    color: #1D293F;
}
.cardimage{
    background-color: #F7F8FA;
}