.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container{
  width: 1110px;
  margin: 0 auto;
  max-width: 90%;
}
.title{
  font-weight: 500;
  font-size: 40px;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1D252C;
}
.describe{
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #1D252C;
}
.cards{
  flex-wrap: wrap;
}
ul li{
  list-style-type: none;
}